/* 
.hamburger{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    flex-flow: column nowrap;
}

.burger{
    width: 2rem;
    height: .25rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #000;
    transform-origin: 1px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.burger1{
    transform: ${ isOpen ? 'rotate(45deg)' : 'rotate(0)'};
}
.burger2{
    transform: ${ isOpen ? 'translateX(100%)' : 'translateX(0)'};
    opacity: ${ isOpen ? 0 : 1};
}
.burger3{
    transform: ${ isOpen ? 'rotate(-45deg)' : 'rotate(0)'};
} */
